@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
}

table th,
table td {
  border: 1px solid black;
  padding: 1rem 2rem;
}

.container {
  margin: 50px 0 0 0;
  width: 700px;
  max-width: 90%;
  position: relative;
  padding: 2rem;
  border: 2px solid black;
  min-height: 200px;
  border-radius: 10px;
}

.quote {
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: hsl(0, 0%, 30%);
}

.quote span {
  padding: 5px;
}

.label-input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.label-input:hover {
  cursor: pointer;
}

.input-quote {
  opacity: 1;
  width: 100%;
  position: absolute;
  left: -100vw;
}

.container:focus-within {
  border: 2px solid green;
  background-color: hsl(0, 0%, 90%);
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.active-character {
  background-color: yellow;
}

.restart-btn {
  margin: 50px 0 0 0;
  padding: 1.5rem;
  font-size: 1.5rem;
}

.hide {
  display: none;
}
